<p class="my-10 text-sm text-center text-gray-500">
	&copy; 2023 - 2027 
	<a href="http://chimborazo.gob.ec/" class="hover:underline" target="_blank"
		>chimborazo.gob.ec</a
	>. Todos los derechos reservados.
</p>
